<!DOCTYPE html>
<html>
<head>
	<title>Delete</title>
</head>
<body>
	<h1>Are you sure you want to Delete</h1>
	
		
	<p>Name: {{courses.name}}</p>
	<p>Description: {{courses.description}} </p>
		
	
	
	<form action="{%url 'courses:index'%}" method="post">
	{% csrf_token %}
		<input type="submit" name="no" value="No">
	</form>
	
	<form action="{%url 'courses:destroy' courses.id%}" method="post">
	{% csrf_token %}
	<input type="submit" name="delete" value="Yes! I want to delete this">
	</form>


</body>
</html>