<!DOCTYPE html>
<html>
<head>
	<title>Quoting Dojo</title>
</head>
<body>
	<h1>Welcome to Quoting Dojo</h1>
	<form action="/create" method="post">
		<h3>Your Name: <input type="text" name="name"></h3>
		<h3>Your Quote: <textarea name="quote"></textarea></h3>
		<input type="submit" value="Add my quote!">
	</form>

	<form action="/quotes">
		<input type="submit" value="Skip to quotes!">
	</form>
</body>
</html>