.container{
    width: 100%;
    position: relative;
}
.registerForm{
	width: 280px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative;
    box-shadow: 
    0 0 1px rgba(0, 0, 0, 0.3), 
    0 3px 7px rgba(0, 0, 0, 0.3), 
    inset 0 1px rgba(255,255,255,1),
    inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffff 10%);
}
.registerForm h1{
    font-size: 22px;
    padding-bottom: 5px;
    text-align: center;
}
.registerForm button{
    width: 100%;
    height: 100%;
    margin-top: -1px;
    font-size: 1.4em;
    line-height: 1.75;
    color: white;
    border: none;
    border-radius: inherit;
    background: #52cfeb;
    background: -moz-linear-gradient(#52cfeb, #42A2BC);
    background: -ms-linear-gradient(#52cfeb, #42A2BC);
    background: -o-linear-gradient(#52cfeb, #42A2BC);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#52cfeb), to(#42A2BC));
    background: -webkit-linear-gradient(#52cfeb, #42A2BC);
    background: linear-gradient(#52cfeb, #42A2BC);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.35), inset 0 3px 2px rgba(255,255,255,0.2), inset 0 -3px 2px rgba(0,0,0,0.1);
    cursor: pointer;
}
.loginForm h1{
    font-size: 22px;
    padding-bottom: 5px;
    text-align: center;
}
.loginForm{
	width: 280px;
    margin: 60px auto 30px;
    padding: 10px;
    position: relative;
	/* Style*/
    box-shadow: 
    0 0 1px rgba(0, 0, 0, 0.3), 
    0 3px 7px rgba(0, 0, 0, 0.3), 
    inset 0 1px rgba(255,255,255,1),
    inset 0 -3px 2px rgba(0,0,0,0.25);
    border-radius: 5px;
    background: linear-gradient(#eeefef, #ffffff 10%);
}

.loginForm .submit{
    width: 65px;
    height: 65px;
    position: absolute;
    top: 66px;
    right: -25px;
    padding: 10px;
    z-index: 2;

    /* Styles */
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 
        0 0 2px rgba(0,0,0,0.1),
        0 3px 2px rgba(0,0,0,0.1),
        inset 0 -3px 2px rgba(0,0,0,0.2);
}
.loginForm button{
    width: 100%;
    height: 100%;
    margin-top: -1px;
    font-size: 1.4em;
    line-height: 1.75;
    color: white;
    border: none;
    border-radius: inherit;
    background: #52cfeb;
    background: -moz-linear-gradient(#52cfeb, #42A2BC);
    background: -ms-linear-gradient(#52cfeb, #42A2BC);
    background: -o-linear-gradient(#52cfeb, #42A2BC);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#52cfeb), to(#42A2BC));
    background: -webkit-linear-gradient(#52cfeb, #42A2BC);
    background: linear-gradient(#52cfeb, #42A2BC);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), 0 1px 2px rgba(0,0,0,0.35), inset 0 3px 2px rgba(255,255,255,0.2), inset 0 -3px 2px rgba(0,0,0,0.1);
    cursor: pointer;
}
.loginInput{
	width: 240px;
}






