<div class="container">
	<div ng-controller='registerController'>
		<div ng-repeat="item in messages">
			<h1>{{item}}</h1>
		</div>
		<div class="loginForm">
		<h1>Login</h1>
			<form>
				<p>
					<span id="input_addon" class="glyphicon glyphicon-envelope"></span> 
					<input class="loginInput" type="text" ng-model="users.email" placeholder="Email">
				</p>
				<p class="loginPass">
					<span id="input_addon" class="glyphicon glyphicon-user"></span>
					<input class="loginInput" type="password" ng-model="users.password" placeholder="Password">
				</p>
				<p class="submit">
				<button ng-click="login()"><span class="glyphicon glyphicon-arrow-right"></span></button>
				
				</p>
			</form>
		</div>
	</div>
</div>