<div ng-controller="registerController">
		<div ng-repeat="item in messages">
		<h1>{{item}}</h1>
	</div>
	<div class='registerForm'>
		<h1>Register</h1>
		<form >
			<p>
				<span id="input_addon" class="glyphicon glyphicon-user"></span>
				<input type="text" ng-model="newUser.username" placeholder="Username"></p>
			<p>
				<span id="input_addon" class="glyphicon glyphicon-envelope"></span> 
				<input type="text" ng-model="newUser.email" placeholder="Email">
			</p>
			<p>
				<span class="glyphicon glyphicon-lock"></span>
				<input type="password" ng-model="newUser.password" placeholder="Password">
			</p>
			<p>
				<span class="glyphicon glyphicon-lock"></span>
				<input type="password" ng-model="newUser.passwordConfirm" placeholder="Password Confirm"></p>
			<p><button ng-click="create()" >Start your {exp.}</button></p>
		</form>
	</div>
</div>