<h1>New Appointment</h1>




<div ng-controller="AppointmentController">

<div ng-repeat="item in messages">
	<h2 style="color: red">{{item}}</h2>
</div>
	<div>
		<form>
			<p>Date: <input type="date" ng-model="newAppoint.date">
			Time: <select ng-model="newAppoint.time">
				<option>8:00 am</option>
				<option>9:00 am</option>
				<option>10:00 am</option>
				<option>11:00 am</option>
				<option>12:00 pm</option>
				<option>1:00 pm</option>
				<option>2:00 pm</option>
				<option>3:00 pm</option>
				<option>4:00 pm</option>
				<option>5:00 pm</option>
			</select>
			</p>
			<p>Complain: <textarea ng-model="newAppoint.text"></textarea></p>
			<p> <a href="#!/dashboard">Cancel</a> <button ng-click="create()">Add Appointment</button></p>
		</form>
	</div>

</div>