<!DOCTYPE html>
<html>
<head>
	<title>Teams</title>
</head>
<body>
	<div ng-controller="TeamsController">
		<form>
			<p>Name: <input type="text" ng-model="newTeam.name"></p>
			<p><input type="submit" ng-click="addTeam()"></p>
		</form>
		<table style="border: 1px solid black;">
			<tr>
				<th>Team Name</th>
				<th>Actions</th>
			</tr>
			<tr ng-repeat="item in teams">
				<td>{{item.name}}</td>
				<td><input type="submit" value="Remove Team" ng-click="deleteTeam(item)"></td>
			</tr>
		</table>		
	</div>
</body>
</html>