<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Add a new course</h1>
	<form action="/poop" method="post">
	{% csrf_token %}
		Name: <input type="text" name="name">
		Description: <textarea name="description"></textarea>
		<input type="submit" name="Add">
	</form>

<h1>Courses</h1>
<table style="border: 2px solid black; width: 700px; text-align: center;">
  <tr>
    <th>Course Name</th>
    <th>Description</th>
    <th>Date Added</th>
    <th>Action</th>
  </tr>
  {% for course in courses %}
    <tr>
      <td>{{course.name}}</td>
      <td>{{course.description}}</td>
      <td>{{course.created_at}}</td>
      <td><a href="delete/{{course.id}}">remove</a> </td>
    </tr>
  {% endfor %}
</table>

</body>
</html>