<!DOCTYPE html>
<html>
<head>
	<title>Edit</title>
</head>
<body>
<h1>Edit Pokemon</h1>
	<form action="/update/<%= pokes._id %>" method="post">
		<p>Pokemon Name: <input type="text" name="name"></p>
		<p>Type: <input type="text" name="type"></p>
		<p>Age: <input type="text" name="age"></p>
		<p><input type="submit" value="Change that Pokemons!"></p>
	<p><a href="/">Home</a></p>
	</form>
</body>
</html>