<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
<div style="border: 2px solid black; width: 400px;">
	<h3>Submitted Information</h3>
	<p><span style="color: blue;">Name:</span> <%= users.name %></p>
	<p><span style="color: blue;">Dojo Location:</span> <%= users.place %></p>
	<p><span style="color: blue;">Favorite Language:</span> <%= users.lang %></p>
	<p><span style="color: blue;">Comment:</span> <%= users.comment %></p>
	<form action="/">
		<p style="margin-left: 200px;"><input type="submit" value="Go Back" style="background-color: blue; color: white;"></p>
	</form>


</div>	
</body>
</html>

